<!DOCTYPE html>
<html lang="en">

<head>
    <title>首页</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="/swiper/css/swiper.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/common.css">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/swiper/js/swiper.min.js"></script>
    <style>

        .container{
            width: 1114px !important;
        }
        .banner.container{
            padding: 0;
        }
        .swiper-container {
            /*width: 600px;*/
            max-height: 400px;
        }
        @media (min-width: 768px){
            .w-610 {
                width: 616px !important;
            }
        }
        @media (min-width: 768px){
            .w-862 {
                width: 850px !important;
            }
        }

        @media (min-width: 768px){
            .w-846 {
                width: 848px !important;
                padding-left: 0px;
                padding-right: 0px;
            }
        }

        .index-center-content .ul-content li {
            width: 100%;
            display: block;
        }
        .index-center-content .ul-content li time{
            float: right;
            color: #bcbcbc;
            font-size: 14px;
            font-weight: bold;
        }

    </style>
</head>


<body>
<div id="app">
    <section class="header">
        <div class="container">
            <div class="header-top text-center">
                <img src="/imgs/logo.png" alt="">
            </div>
            <ul class="nav-ul hidden-xs" >
                <li class="active"><a href="##" class="bg-002 pl-6">首页</a></li>
                <li><a href="##">金融政策</a></li>
                <li><a href="##">新闻中心</a></li>
                <li><a href="##">特殊金融</a></li>
                <li><a href="##">企业文化</a></li>
                <li><a href="##">公司党建</a></li>
            </ul>
        </div>
    </section>
    <!--轮播图-->
    <section class="banner container">
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <img src="/imgs/banner.png" alt="">
                </div>
                <div class="swiper-slide">
                     <img src="/imgs/500519217.png" alt="">
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </section>
    <!--主体内容-->
    <section class="index-content">
        <div class="container">
            <div class="row">
                <!-- 左边内容 -->
                <div class="col-sm-3 w-264 pd-0">
                    <section class="panel panel-green-1 panel-b-10">
                        <div class="panel-heading text-center bg-003">
                            公告栏
                        </div>
                        <div class="panel-body announce">
                            <h4 class="announce-title">公告公告公告公告公告公告</h4>
                            <div class="announce-content">
                                我说的是as是as发
                                我说的是as是as发
                                我说的是as是as发
                                我说的是as是as发
                                我说的是as是as发

                                我说的是as是as发
                                我说的是as是as发
                                我说的是as是as发 我说的是as是as发
                                我说的是as是as发

                            </div>
                        </div>
                    </section>
                    <section class="panel panel-green-1 panel-b-10">
                        <div class="panel-heading text-center bg-004">
                            图文链接
                        </div>
                        <div class="panel-body">
                            <img src="../imgs/banner.png" alt="">
                            <img src="../imgs/banner.png" alt="">
                            <img src="../imgs/banner.png" alt="">
                            <img src="../imgs/banner.png" alt="">
                            <img src="../imgs/banner.png" alt="">
                            <img src="../imgs/banner.png" alt="">
                            <img src="../imgs/banner.png" alt=""><img src="../imgs/banner.png" alt="">
                            <img src="../imgs/banner.png" alt="">


                        </div>
                    </section>
                </div>
                <!--右边内容-->
                <div class="col-sm-9 w-846" >
                    <div class="col-sm-6 w-610" >
                        <section class="index-center-content " >
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-tabs-1" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">新闻中心</a>
                                </li>
                                <a class="more" href="##">更多 >></a>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <ul class="ul-content">
                                        <li><a href="##">赌球不小心======<time>2019-00</time> </a></li>
                                        <li><a href="##">赌球不小心======<time>2019-00</time> </a></li>
                                        <li><a href="##">赌球不小心======<time>2019-00</time> </a></li>
                                        <li><a href="##">赌球不小心======<time>2019-00</time> </a></li>
                                        <li><a href="##">赌球不小心======<time>2019-00</time> </a></li>


                                    </ul>
                                </div>
                            </div>
                        </section>
                        <section class="index-center-content mt-20">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs nav-tabs-1" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">特色金融</a>
                                </li>
                                <a class="more" href="##">更多 >></a>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="profile">
                                    <ul class="ul-content">
                                        <li><a href="##">赌球不小心======<time>2019-00</time> </a></li>
                                        <li><a href="##">赌球不小心======<time>2019-00</time> </a></li>
                                        <li><a href="##">赌球不小心======<time>2019-00</time> </a></li>
                                        <li><a href="##">赌球不小心======<time>2019-00</time> </a></li>
                                        <li><a href="##">赌球不小心======<time>2019-00</time> </a></li>
                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="col-sm-3 w-232 pd-0">
                        <section class="panel panel-primary panel-b-10">
                            <div class="panel-heading">
                                <b>企业文化</b>
                                <a class="more-1" href="##">更多 >></a>
                            </div>
                            <div class="panel-body wh-content">
                                <h5><b>公告</b></h5>
                                <p1>我说的是as是as发，我说的是as是as发，我说的是as是as发，我说的是as是as发，我说的是as是as发，我说的是as是as发，</p1>
                            </div>
                        </section>
                        <section class="panel panel-default-1 panel-b-10">
                            <div class="panel-heading">
                                <b>公司党建</b>
                                <a class="more-2" href="##">更多 >></a>
                            </div>
                            <div class="panel-body pt-0 pb-0">
                                <ul class="ul-content party-content" >
                                    <li><a href="##">赌球不小心=====赌球不小心======赌球不小心======赌球不小心======赌球不小心=======</a></li>
                                    <li><a href="##">赌球不小心======</a></li>
                                    <li><a href="##">赌球不小心======</a></li>
                                    <li><a href="##">赌球不小心======</a></li>
                                    <li><a href="##">赌球不小心======</a></li>
                                </ul>
                            </div>
                        </section>
                    </div>

                    <!--// 搜索内容开始-->
                    <div class="col-sm-9 w-862" style="padding-right: 0px;">
                        <section class="panel panel-default-1 panel-big panel-b-10">
                            <div class="panel-heading pl-0">
                                <span class="search-tip">搜 索</span>
                                <div class="pull-right">
                                    <input type="text" class="search-input" placeholder="请输入关键词" />
                                    <button class="btn search-btn">搜 索 证 书</button>
                                </div>

                            </div>
                            <div class="panel-body">
                                <div class="text-search mb-10">搜 索 说 明</div>
                                <div class="text-dsc">
                                    啰嗦是发是撒as福州大学金山
                                </div>
                            </div>
                        </section>
                    </div>
                    <!--搜索内容结束-->
                </div>
                <!--右边内容end-->


            </div>

        </div>
    </section>

    <!--// 友情链接-->
    <section class="friend-link-parent" >
        <div class="container">
            <!--<div class="row">-->
                <!--<div class="col-md-3"></div>-->
            <!--</div>-->
            <ul class="friend-link">
                <li class="on"><a href="#">福建省网络网络</a></li>
                <li><a href="#">福建省网络福建省网络网络</a></li>
                <li><a href="#">福建省网络</a></li>
                <li><a href="#">福建省网络</a></li>
                <li><a href="#">福建省网络</a></li>
                <li><a href="#">福建省网络</a></li>
                <li><a href="#">福建省网络</a></li>
                <li><a href="#">福建省网络</a></li>
                <li><a href="#">福建省网络</a></li>
                <li><a href="#">福建省网络</a></li>
            </ul>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-lg-offset-2">
                    <div class="footer-item">
                        <p><img src="./imgs/addr.png" alt="">地址：福建省福州市二罗</p>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-offset-1">
                    <div class="footer-item">
                        <p><img src="./imgs/mine.png" alt="">联系人：林先生</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-lg-offset-2">
                    <div class="footer-item">
                        <p><img src="./imgs/phone.png" alt="">联系方式：899999999</p>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-offset-1">
                    <div class="footer-item">
                        <p><img src="./imgs/email.png" alt="">电子邮箱：1377777@qq</p>
                    </div>
                </div>
            </div>

            <div class="footer-copy text-center">
                    <p>版权信息@ 蚂蚁科技所有</p>
                    <p>版权信息@ 蚂蚁科技所有</p>
            </div>



    </footer>

</div>
</body>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        // Optional parameters
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        // scrollbar: {
        //     el: '.swiper-scrollbar',
        // },
    })
</script>

</html>