<!DOCTYPE html>
<html lang="en">

<head>
    <title>文章.html</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link href="../../../../../../../Desktop/dist/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../../../../../../../Desktop/dist/dist/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="../../../../../../../Desktop/dist/dist/swiper/css/swiper.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="../../../../../../../Desktop/dist/dist/css/reset.css">
    <link rel="stylesheet" href="../../../../../../../Desktop/dist/dist/css/common.css">
    <script src="../../../../../../../Desktop/dist/dist/js/jquery.js"></script>
    <script src="../../../../../../../Desktop/dist/dist/js/bootstrap.min.js"></script>
    <script src="../../../../../../../Desktop/dist/dist/swiper/js/swiper.min.js"></script>
    <style>

    </style>
</head>


<body>
<div id="app">
    <section class="header">
        <div class="container">
            <div class="header-top text-center">
                <img src="../../../../../../../Desktop/dist/dist/imgs/logo.png" alt="">
            </div>
            <ul class="nav-ul hidden-xs" >
                <li><a href="##">首页</a></li>
                <li class="active"><a class="bg-003" href="##">金融政策</a></li>
                <li><a href="##">新闻中心</a></li>
                <li><a href="##">特殊金融</a></li>
                <li><a href="##">企业文化</a></li>
                <li><a href="##">公司党建</a></li>
            </ul>
        </div>
    </section>

    <!--列表-->
    <section class="article-content">
        <div class="container">
            <div class="breadcrumb-nav">
                <a href="#"><img src="../../../../../../../Desktop/dist/dist/imgs/right-arrow.png" alt="">首页</a>
                <span> > </span>
                <a href="#">新闻中心</a>
                <span> > </span>
                <a href="#">文章内容</a>
            </div>
            <div class="row">
                <article class="article">
                    <h1>我的我的他啊as 抱团</h1>
                    <div class="tag"> <time>2018</time> <span>来源：凤凰网</span></div>
                    <div class="article-body">
                        <p> 慢慢才明白，总想尘封以往，却越来越多的回眸，那些平实的、激情的、坎坷的、浪漫的……

                            　　 慢慢才明白，日子要一天天地过，生活要一点点地品，懂得了太多的人情世故，却再也留不住逐渐冷却的激情！无奈中，游走在现实与梦想的边缘，于是在追求时挺直的身躯，在事实面前渐渐妥协。

                            　　 慢慢才明白，一生中总有一些人难忘记，一年中总会有些日子特别珍惜，特别的日子里会记起特别的往昔，偶而落寞时，记忆里有影子徘徊，却也挥之即去。有些东西即便不能忘却，也得埋藏在心里，并学会忘记。

                            　　 慢慢才明白，有些爱永远不要说出口，有些情感只能深深地埋在心底。付出不一定都有回报。不要为任何人流泪，值得你流泪的人不会让你流泪！

                            　　 慢慢才明白，别人的目光已</p>
                    </div>
                </article>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-lg-offset-2">
                    <div class="footer-item">
                        <p><img src="../../../../../../../Desktop/dist/dist/imgs/addr.png" alt="">地址：福建省福州市二罗</p>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-offset-1">
                    <div class="footer-item">
                        <p><img src="../../../../../../../Desktop/dist/dist/imgs/mine.png" alt="">联系人：林先生</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-lg-offset-2">
                    <div class="footer-item">
                        <p><img src="../../../../../../../Desktop/dist/dist/imgs/phone.png" alt="">联系方式：899999999</p>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-offset-1">
                    <div class="footer-item">
                        <p><img src="../../../../../../../Desktop/dist/dist/imgs/email.png" alt="">电子邮箱：1377777@qq</p>
                    </div>
                </div>
            </div>

            <div class="footer-copy text-center">
                    <p>版权信息@ 蚂蚁科技所有</p>
                    <p>版权信息@ 蚂蚁科技所有</p>
            </div>



    </footer>

</div>
</body>
<script>
    var mySwiper = new Swiper ('.swiper-container', {
        // Optional parameters
        loop: true,

        // If we need pagination
        pagination: {
            el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        // scrollbar: {
        //     el: '.swiper-scrollbar',
        // },
    })
</script>

</html>